@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Nunito:wght@500&family=Poppins:wght@300&family=Roboto:wght@500;700&family=Source+Code+Pro:ital@1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: white;
      font-family: 'Poppins', sans-serif;
  }
  
  html, body {
    overflow-x: hidden;
    background-color: #1a202c; /* Dark gray color matching the from-gray-900 */
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
    letter-spacing: 0.8px;
    color: #fff; /* Ensuring text is visible on dark background */
  }
  
  /* Optional: Add a subtle gradient if desired */
  body {
    background-image: linear-gradient(to bottom right, #1a202c, #2d3748);
    background-attachment: fixed;
  }

  .shadow{

-webkit-box-shadow: -2px -3px 88px -19px #00FFFF;
-moz-box-shadow: -2px -3px 88px -19px #00FFFF;
box-shadow: -2px -3px 88px -19px #00FFFF;



  }

